<div class="fill" >
			<div class="header text-center vert-ctr-object">
				<div>
					<h1 class="vert-ctr-obj">Password Vault</h1>
				</div>
			</div>
			<div class="bodies input-large">
				<div class="col-xs-12 ">
					<h3>
						<strong>Website/Application Name</strong>
					</h3>
					<h3>{{infoCntrl.appName}}<h3>
							<hr>
							<h3>
								<strong>User ID</strong>
							</h3>
							<h3>{{infoCntrl.appId}}</h3>
							<hr>
							<h3>
								<strong>Password</strong>
							</h3>
							<h3>{{infoCntrl.password}}</h3>
				</div>
			</div>
			<div class="footer">
				<div class="container vert-ctr-obj">
					<div class="row">
						<input type="button" class="btn btn-primary pull-right"
							value="Edit" ng-click="infoCntrl.edit(appToUse)"></input> <input type="button"
							class="btn btn-primary pull-right" value="Cancel" ng-click="infoCntrl.cancel()"></input>
					</div>
				</div>
			</div>
		</div>